@tailwind base;
@tailwind components;
@tailwind utilities;

#reader {
    width: 400px;
}

.background {
    background-image: url(./assets/img/bg.jpg);
}

.MuiPaper-root {
    box-shadow: none !important;
}

